.main{
    margin: 50px;
    background-color: #ffffff;
}

.bodyColor{
    background-color: #efefef;
}

.buttonBottom{
    margin-right: -10px;
    float: right;
    margin-top: 10px;
    margin-bottom: 30px;
}
.media-object{
    width: 42px;
    height: 42px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.navigation .list-group{
    margin-top: 20px;
}

.error{
    margin: 50px;
}

.comment-imgStyle{
    margin-top: 10px;
}

.comment-name{
    padding-top: 22px;
}

.comment-text{
    margin: 15px 0px;
}

.comment-btn{
    margin-bottom: 14px;
    float: right;
}
