.main {
    margin: 50px;
    background-color: #ffffff;
}

.bodyColor {
    background-color: #efefef;
}

.buttonBottom {
    margin-right: -10px;
    float: right;
    margin-top: 10px;
    margin-bottom: 30px;
}

.media-object {
    width: 42px;
    height: 42px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.navigation .list-group {
    margin-top: 20px;
}

.error {
    margin: 50px;
}

.comment-imgStyle {
    margin-top: 10px;
}

.comment-name {
    padding-top: 22px;
}

.comment-text {
    margin: 15px 0px;
}

.comment-btn {
    margin-bottom: 14px;
    float: right;
}

.menu-tag {
    color: #999;
    margin-top: 10px;
}

.menu-tag .icon {
    margin-left: -16px;
    margin-right: 35px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

.menu-tag-sub .icon {
    cursor: pointer;
    color: #999;
}

.menu-tag-sub .icon:hover {
    color: #499ef3;
}

.menu-tag . commentCountSize {
    font-size: 17px;
}

.date-tag {
    font-size: 12px;
    margin-top: 15px;

}

.menu-tag .active {
    color: #499ef3;
}

.menu-tag .icon:hover {
    color: #499ef3;
}

.comment-foreach {
    margin-top: 25px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f0f2f7;
    margin-left: 25px;
}

.comment-foreach-sub {
    border-bottom: 1px solid #f0f2f7;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 14px;
}

.comment-span {
    margin-top: 0px;
    margin-bottom: 0px;
}

.sub-comment {
    border: 2px solid #ebebeb;
    border-radius: 20px;
    margin-top: -15px;
    margin-bottom: 20px;
    padding-top: 13px;
    padding-bottom: 20px;
}

.sub-comment-btn {
    margin-top: 20px;
}

.question-tag {
    margin-right: 5px;
}

.hotQuestion {
    list-style: none;
    margin-left: -40px;
}