<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>问题详情</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--三个资源文件的引入-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <link rel="stylesheet" href="/css/editormd.preview.css">
    <!--<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>-->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/moment.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <script src="/js/editormd.js" type="application/javascript"></script>
    <script src="/js/lib/marked.min.js" type="application/javascript"></script>
    <script src="/js/lib/prettify.min.js" type="application/javascript"></script>

</head>

<body class="bodyColor">
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row ">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!--问题描述模块-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>
                    <span th:text="${question.title}"></span>
                </h2>
                <hr>
                作者 <span th:text="${question.user.name}"></span> |
                发布时间 <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd hh:mm')}"> </span> |
                阅读数： <span th:text="${question.viewCount}"></span>
                <!--问题正文-->
                <hr>
                <div id="markdown-view-showQuestion">
                    <!-- Server-side output Markdown text -->
                    <textarea style="display:none;" th:text="${question.description}"></textarea>
                </div>
                <script type="text/javascript">
                    $(function() {
                        var testView = editormd.markdownToHTML("markdown-view-showQuestion", {
                            // markdown : "[TOC]\n### Hello world!\n## Heading 2", // Also, you can dynamic set Markdown text
                            // htmlDecode : true,  // Enable / disable HTML tag encode.
                            // htmlDecode : "style,script,iframe",  // Note: If enabled, you should filter some dangerous HTML tags for website security.
                        });
                    });
                </script>
                <!--问题标签-->
                <hr>
                <span class="label label-info question-tag" th:each="tag : ${question.tag.split(',')}">
                    <span class="glyphicon glyphicon-tags"></span>
                    <span class="label label-info " th:text="${tag}"></span>
                </span>
                <!--编辑问题-->
                <hr>
                <a th:href="'/publish/'+${question.id}"
                   th:if="${session.userFindByToken != null && session.userFindByToken.accountId == question.creator}">
                    <span class="glyphicon glyphicon-pencil">编辑</span>
                </a>
                <hr>
            </div>

            <!--展示一级评论模块-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>
                    <span th:text="${question.commentCount}"></span> 个回复
                </h4>
                <hr>
                <div class="comment-foreach" th:each="comment : ${comments}">
                    <div class="media-left">
                        <a href="/">
                            <img class="media-object img-rounded" th:src="${comment.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body" th:id="${'comment-body-'+comment.id}">
                        <a th:href="'/'">
                            <h4 class="media-heading" th:text="${comment.user.name}"></h4>
                        </a>
                        <span th:text="${comment.content}"></span><br>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 menu-tag">
                            <span class="glyphicon glyphicon-thumbs-up icon" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-thumbs-down icon" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-comment icon" aria-hidden="true" th:data-id="${comment.id}"
                                  onclick="collapseComment(this)">

                                <span class="icon" th:text="${comment.commentCount}" style="font-size: 17px"></span>

                            </span>
                            <span th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd')}"
                                  class="pull-right date-tag"> </span>
                        </div>
                        <!--二级评论模块-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse sub-comment"
                             th:id="${'comment-'+comment.id}">
                            <!--展示二级评论(套用一级评论HTML代码),已经在community.js实现了，可以删除了-->
                            <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h4>
                                    <span th:text="${question.commentCount}"></span> 个回复
                                </h4>
                                <hr>
                                <div class="comment-foreach-sub" th:each="comment : ${comments}">
                                    <div class="media-left">
                                        <a href="/index">
                                            <img class="media-object img-rounded"
                                                 th:src="${comment.user.avatarUrl}">
                                        </a>
                                    </div>
                                    <div class="media-body menu-tag-sub ">
                                        <a th:href="'/index'">
                                            <span class="media-heading" style="font-size: 18px;">亮亮</span>
                                        </a> •
                                        <span th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd')}"
                                              class="date-tag"> </span>
                                        <span class="glyphicon glyphicon-comment icon pull-right" aria-hidden="true"
                                              th:data-id="${comment.id}"
                                              onclick="collapseComment(this)"></span>
                                        <br>
                                        <span th:text="${comment.content}"></span><br>
                                    </div>
                                </div>
                            </div>-->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input type="text" class="form-control" placeholder="请输入你的评论..."
                                       th:id="${'input-'+comment.id}">
                                <button type="button" class="btn btn-success pull-right sub-comment-btn"
                                        onclick="comment(this)" th:data-id="${comment.id}">回复
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--回复评论模块-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section">
                <h4>
                    <span></span>提交回复
                </h4>
                <hr class="comment-span">
                <div class="media-left">
                    <a href="/">
                        <img class="media-object img-rounded comment-imgStyle" th:src="${session.userFindByToken.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <a th:href="'/'">
                        <h4 class="media-heading comment-name" th:text="${session.userFindByToken.name}"></h4>
                    </a>
                </div>
                <!--<input type="hidden" id="question_id" value="2323">   假写一个问题编号，模拟评论时找不到值-->
                <input type="hidden" id="question_id" th:value="${question.id}">
                <textarea class="form-control comment-text" rows="12" id="comment_content"
                          placeholder="请输入评论内容"></textarea>
                <button type="button" class="btn btn-success comment-btn" onclick="post()">回复</button>
            </div>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h4>发起人</h4>
            <div class="media-left">
                <a href="/">
                    <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">
                </a>
            </div>
            <div class="media-body">
                <a th:href="'/'">
                    <h4 class="media-heading" th:text="${question.user.name}"></h4>
                </a>
            </div>
            <hr>
            <!--站长微信-->
            <h4>站长微信</h4>
            <img src="/images/img/wechat.png" style="width: 50%;">
            <hr>
            <!--相关热点问题-->
            <h4>相关问题</h4>
            <a th:href="'/question/'+${hotQuestion.id}" th:each="hotQuestion : ${hotQuestionList}">
                <ul>
                    <li class="hotQuestion" th:text="${hotQuestion.title}"></li>
                </ul>
            </a>

        </div>
    </div>
</div>
</body>

</html>